<%- include('./partials/header'); -%>


<div class="container mt-3">
    <div class="header">
        <div class="row align-items-center">
            <div class="col-sm-4">
                <img src="/ZBM-logo.png" alt="Logo ZMB" class="login-logo" width="80%">
            </div>
        </div>
    </div>
</div>

<div class="container mt-5">
    <h1 class="text-center">
        Entraste correctamente! 🎉
    </h1>
    <div class="row">
        <div class="fs-3 text-center">
            Plataforma en construccion
        </div>
        <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" fill="currentColor" class="bi bi-bricks mt-3" viewBox="0 0 16 16">
            <path d="M0 .5A.5.5 0 0 1 .5 0h15a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-.5.5H14v2h1.5a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-.5.5H14v2h1.5a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-.5.5H.5a.5.5 0 0 1-.5-.5v-3a.5.5 0 0 1 .5-.5H2v-2H.5a.5.5 0 0 1-.5-.5v-3A.5.5 0 0 1 .5 6H2V4H.5a.5.5 0 0 1-.5-.5zM3 4v2h4.5V4zm5.5 0v2H13V4zM3 10v2h4.5v-2zm5.5 0v2H13v-2zM1 1v2h3.5V1zm4.5 0v2h5V1zm6 0v2H15V1zM1 7v2h3.5V7zm4.5 0v2h5V7zm6 0v2H15V7zM1 13v2h3.5v-2zm4.5 0v2h5v-2zm6 0v2H15v-2z"/>
          </svg>
    </div>
</div>